<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vegan Vibes - Kit UI</title>
        <!-- Materialize CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
        <!-- Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <section id="colors">
            <nav class="navbar">
                <div class="navbar-brand">
                    <a href="#" class="logo">Vegan Vibes Kit Ui</a>
                    <button class="navbar-toggle" aria-label="Toggle navigation">
                        <span class="icon">🍔</span> <!-- Icône de menu hamburger -->
                    </button>
                </div>
                <ul class="navbar-menu">
                    <li><a href="#" class="nav-link">Accueil</a></li>
                    <li><a href="#" class="nav-link">Recettes</a></li>
                    <li><a href="#" class="nav-link">À propos</a></li>
                    <li><a href="#" class="nav-link">Contact</a></li>
                </ul>
            </nav>
        </section>
    </header> 

    <script src="chemin_du_fichier/fichier.js"></script>

    
    <div class="section-with-line"></div>
        <!-- Scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>